# Ignore all .pyc files
**/*.pyc

# Ignore all .pth files
**/*.pth

**/*.out

booster_jobs/

jobs/*

wandb/*

# Ignore inputs and outputs  frames
input_frames
input_frames_airplane
output_frames
output_plane
output_vipseg_plane
videos